# Archivos de compilación
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Específico de Android Studio
.idea/deploymentTargetSelector.xml

# Archivos generados por el sistema
Thumbs.db
Desktop.ini
